
body{ 
    display:flex; 
    flex-direction:column; 
    height: 100vh;
    margin: 0;
  }
  

#headerh1 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    width: 100%;
    background-color: #325ed5;
    color: #F7F7F7;
  }

/* fix styling above header h1? */

  #inputSection{
    margin-bottom: 50px;
    margin-left: 15px;
  }

  table{
    margin-top: 10px;
  }
  th, td {
    text-align: left;
    padding: 8px;
    
  }

  th {
    background-color: darkslategrey;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin: 5px;
  }

  footer{
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    width: 100%;
    background-color: #325ed5;
    color: #F7F7F7;

  }

  #footerh1{
    text-align: right;
    margin-right: 50px;
  }


  
  